---
title: 2018 Sponsors
og_title: Sponsors | Papers We Love Conference 2018
---
<%= partial '2018/partials/internalTopNav' %>
<article class="text sponsors">
  <h1>2018 Sponsors</h1>
  <section class="gold">
    <div class="one">
      <a class="sponsor-logo-link" href="https://droit.tech"><%= image_tag '2018/droit.png', :alt => "droit", :title => "Platinum Sponsor Droit", :class => "sponsor-droit" %></a>
      <p>Droit is a technology firm at the forefront of computational law and intelligent decision-making. Our award-winning platform, Adept, provides mission-critical, low-latency services for the world’s most prominent and complex financial institutions. We thrive by creating new products that anticipate where the world is moving.</p>

      <p>Our Engineers leverage functional programming techniques and domain-specific-languages to develop elegant solutions to complex problems.</p>

      <p>Come and build the operating system for regulation. Find out more at droit.tech or contact us at <a href="mailto:careers@droitfintech.com" alt="Email careers at droit.tech">careers@droitfintech.com</a>.</p>
    </div>
  </section>
  <section class="gold">
    <div class="one">
      <a class="sponsor-logo-link" href="https://www.twosigma.com/careers"><%= image_tag '2017/TwoSigma.svg', :alt => "TwoSigma", :title => "Gold Sponsor TwoSigma", :class => "sponsor-twosigma" %></a>
      <p>We are Two Sigma. We imagine breakthroughs in investment management, insurance and related fields by pushing the boundaries of what open source and proprietary technology can do. In the process, we work to help real people. Our engineers, data scientists and modelers harness data at tremendous scale, using machine learning, distributed computing and other technologies to build powerful predictive models.</p>

      <p>Come build with us! Please contact <a href="mailto:Recruiting@twosigma.com" alt="Email Recruiting@twosigma.com">Recruiting@twosigma.com</a>.</p>
    </div>
  </section>
  <section class="silver">
    <div class="one">
      <a class="sponsor-logo-link" href="http://www.cerner.com/about_cerner/careers/"><%= image_tag '2017/Cerner.svg', :alt => "Cerner Logo", :title => "Silver Sponsor Cerner", :class => "sponsor-cerner" %></a>
      <p>At <a href="http://engineering.cerner.com/">Cerner</a>, we love solving the hard problems that no one else wants to tackle. We embrace polyglot programming, distributed systems, and open source. We also know that it’s important to allow engineers to take a step back and try new things. That’s why we host periodic hackathons, meetups, tech talks, and an annual internal two-day developers conference in addition to attending, sponsoring, and speaking at industry conferences.</p>
    </div>
    <div class="two">
      <a class="sponsor-logo-link" href="https://www.acm.org/join/pwlconf"><%= image_tag '2017/ACM.svg', :alt => "ACM Logo", :title => "Silver Sponsor ACM", :class => "sponsor-acm" %></a>
      <p><a href="https://www.acm.org/join/pwlconf">ACM, the Association for Computing Machinery</a>, is a global community of computing professionals and students.  We see a world where computing helps solve tomorrow’s problems – where we use our knowledge and skills to advance the profession and make a positive social impact. At ACM, we help computing professionals to be their best and most creative, keep abreast of emerging trends and technologies, stay connected to their peers and make a positive impact on the profession and the world at large.</p>
    </div>
  </section>
  <section class="bronze">
    <div class="one">
      <a class="sponsor-logo-link" href="http://jobs.comcast.com/"><%= image_tag '2017/Comcast.svg', :alt => "Comcast", :title => "Platinum Sponsor Comcast", :class => "sponsor-comcast" %></a>
      <p>Comcast Cable is one of the nation's largest video, high-speed Internet and phone providers to residential customers under the XFINITY brand and also provides these services to businesses. Comcast has invested in technology to build an advanced network that delivers among the fastest broadband speeds, and brings customers personalized video, communications and home management offerings.  Comcast Corporation (Nasdaq: <a href="http://www.nasdaq.com/symbol/cmcsa">CMCSA</a>) is a global media and technology company.</p>
    </div>
  </section>
  <section class="specific">
    <div class="one">
      <a class="sponsor-logo-link sponsor-datadog" href="https://www.datadoghq.com/careers/"><%= image_tag '2017/DataDog.svg', :alt => "DataDog", :title => "Video Sponsor DataDog", :class => "sponsor-datadog" %></a>
      <p><strong>Video sponsor</strong></p>
    </div>
    <div class="two">
      <a class="sponsor-logo-link" href="https://www.codeandquill.com/"><%= image_tag '2017/CodeQuill.svg', :alt => "Code & Quill", :title => "Notebook Sponsor Code & Quill", :class => "sponsor-codequill" %></a>
      <p><strong>Notebook sponsor</strong></p>
    </div>
    <div class="three">
      <a class="sponsor-logo-link" href="https://www.hashicorp.com/jobs/"><%= image_tag '2017/Hashicorp.svg', :alt => "Hashicorp", :title => "Lanyard Sponsor Hashicorp", :class => "sponsor-hashicorp" %></a>
      <p><strong>Lanyard sponsor</strong></p>
    </div>
  </section>
  <section class="specific">
    <div class="one"></div>
    <div class="two">
      <h3><strong><a href="https://twitter.com/cuylerjones" alt="twitter link for Cuyler Jones">Cuyler Jones</a></strong></h3>
      <p>Friend of Papers We Love</p>
    </div>
    <div class="three"></div>
  </section>
</article>
