---
title: Speakers
og_title: Speakers | Papers We Love Conference 2016
---
<article id="articleContainer">
  <section class="articleTagline">
    Join us for a day with some of Papers We Love’s favorite writers and speakers.
  </section>
  <section class="articleNavigation">
    <nav class="navRow">
      <a href="/" class="navLink">&larr; Back to PWLConf</a>
      <a href="/">
        <%= image_tag 'conf_logo_b.svg', :alt => "PWLConf 2016", :title => "Papers We Love Conference 2016", :class => "imgPwlConfNavLogo" %>
      </a>
    </nav>
  </section>
  <section class="articleSpeakerContent">
    <h2>Speakers</h2>
    <div class="row">
      <div class="speaker">
        <a href="/speakers/speaker-topic/"><%= image_tag 'speakers/justine-sherry.jpg', :alt => "speaker one headshot", :title => "Speaker One", :class => "imgSpeaker" %></a>
        <h3><a href="/speakers/speaker-topic/">Speaker Name</a></h3>
        <h3><a href="/speakers/speaker-topic/">Speaker Topic/Paper</a></h3>
      </div>
      <div class="speaker">
        <a href="/speakers/speaker-topic/"><%= image_tag 'speakers/justine-sherry.jpg', :alt => "speaker one headshot", :title => "Speaker One", :class => "imgSpeaker" %></a>
        <h3><a href="/speakers/speaker-topic/">Speaker Name</a></h3>
        <h3><a href="/speakers/speaker-topic/">Speaker Topic/Paper</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="speaker">
        <a href="/speakers/speaker-topic/"><%= image_tag 'speakers/justine-sherry.jpg', :alt => "speaker one headshot", :title => "Speaker One", :class => "imgSpeaker" %></a>
        <h3><a href="/speakers/speaker-topic/">Speaker Name</a></h3>
        <h3><a href="/speakers/speaker-topic/">Speaker Topic/Paper</a></h3>
      </div>
      <div class="speaker">
        <a href="/speakers/speaker-topic/"><%= image_tag 'speakers/justine-sherry.jpg', :alt => "speaker one headshot", :title => "Speaker One", :class => "imgSpeaker" %></a>
        <h3><a href="/speakers/speaker-topic/">Speaker Name</a></h3>
        <h3><a href="/speakers/speaker-topic/">Speaker Topic/Paper</a></h3>
      </div>
    </div>
  </section>

  <section class="articleFooterContent">
    <div class="footerRow">
      <div class="footerItem">
        <h2>Web</h2>
        <a href="http://paperswelove.org">paperswelove.org</a>
      </div>
      <div class="footerItem">
        <h2>Twitter</h2>
        <a href="https://twitter.com/papers_we_love">@papers_we_love</a>
      </div>
      <div class="footerItem">
        <h2>Email</h2>
        <a href="mailto:contact@paperswelove.org">contact@paperswelove.org</a>
      </div>
    </div>
  </section>
</article>
