---
title: Sponsors
og_title: Sponsors | Papers We Love Conference 2017
---
<article class="container internal sponsors">
  <%= partial '2017/partials/internalTopNav' %>
  <section>
    <div class="sponsors-text">
      <h1>2017 Sponsors</h1>
    </div>
    <!-- PLATINUM -->
    <div class="platinum">
      <a class="sponsor-logo-link" href="http://jobs.comcast.com/"><%= image_tag '2017/Comcast.svg', :alt => "Comcast", :title => "Platinum Sponsor Comcast", :class => "sponsor-comcast" %></a>
      <p>Comcast Cable is one of the nation's largest video, high-speed Internet and phone providers to residential customers under the XFINITY brand and also provides these services to businesses. Comcast has invested in technology to build an advanced network that delivers among the fastest broadband speeds, and brings customers personalized video, communications and home management offerings.  Comcast Corporation (Nasdaq: <a href="http://www.nasdaq.com/symbol/cmcsa">CMCSA</a>) is a global media and technology company.</p>
    </div>
    <div class="platinum">
      <a class="sponsor-logo-link" href="https://www.twosigma.com/careers"><%= image_tag '2017/TwoSigma.svg', :alt => "TwoSigma", :title => "Platinum Sponsor TwoSigma", :class => "sponsor-twosigma" %></a>
      <p>We are Two Sigma. We imagine breakthroughs in investment management, insurance and related fields by pushing the boundaries of what open source and proprietary technology can do. In the process, we work to help real people.</p>

      <p>Our engineers, data scientists and modelers harness data at tremendous scale, using machine learning, distributed computing and other technologies to build powerful predictive models.</p>

      <p>Come build with us! Please contact <a href="mailto:Recruiting@twosigma.com" alt="Email Recruiting@twosigma.com">Recruiting@twosigma.com</a>.</p>
    </div>
  </section>
  <hr />
  <section>
    <!-- SILVER  -->
    <div class="silver">
      <a class="sponsor-logo-link" href="http://www.cerner.com/about_cerner/careers/"><%= image_tag '2017/Cerner.svg', :alt => "Cerner", :title => "Silver Sponsor Cerner", :class => "sponsor-cerner" %></a>
      <p>At <a href="http://engineering.cerner.com/">Cerner</a>, we love solving the hard problems that no one else wants to tackle. We embrace polyglot programming, distributed systems, and open source. We also know that it’s important to allow engineers to take a step back and try new things. That’s why we host periodic hackathons, meetups, tech talks, and an annual internal two-day developers conference in addition to attending, sponsoring, and speaking at industry conferences.</p>
    </div>
    <div class="silver"><p>&nbsp;</p></div>
    <div class="silver"><p>&nbsp;</p></div>
  </section>
  <hr />
  <section>
    <!-- OTHER (uses Bronze) -->
    <div class="bronze">
      <a class="sponsor-logo-link" href="https://www.hashicorp.com/jobs/"><%= image_tag '2017/Hashicorp.svg', :alt => "Hashicorp", :title => "Lanyard Sponsor Hashicorp", :class => "sponsor-hashicorp" %></a>
      <p><strong>Lanyard sponsor</strong></p>
    </div>
    <div class="bronze"></div>
    <div class="bronze"></div>
  </section>
  <hr />
  <section>
    <div class="sponsors-text">
      <h2>Become a sponsor!</h2>

      <p><strong>Papers We Love Conference 2017</strong> couldn't exist without help from our sponsors. Our <a href="/2016/sponsors">2016 Sponsors</a> ensured that we were able to put on a great conference.</p>

      <p>Sponsorships are still availalable if you or your company would like to get involved with Papers We Love - <a href="/2017/prospectus" alt="PWLConf Sponsorship Prospectus (PDF)">Read the prospectus</a></p>
    </div>
    <div class="sponsors-photo">
      <%= image_tag 'L1040555m.jpg', :alt => "Sponsors", :title => "2016 Sponsor Table: Basho", :width => "100%" %>
    </div>
  </section>
</article>
