---
title: About
og_title: Papers We Love Conference 2016
---
<article id="articleContainer" class="pageHome">
  <section class="articleTagline">
    Join us for a day with some of Papers We Love’s favorite writers and speakers.
  </section>
  <%= partial 'partials/internalTopNav' %>
  <section class="articleMasthead">
    <div class="articleMastheadContent">
      <div class="mastheadRow top">
        <%= image_tag 'corner.svg', :alt => "corner", :class => "cornerTopLeft" %>
        <%= image_tag 'logo-top.svg', :alt => "Papers We Love", :title => "Papers We Love | A community for computer science papers", :class => "imgPwlLogo" %>
        <%= image_tag 'corner.svg', :alt => "corner", :class => "cornerTopRight" %>
      </div>

      <div class="mastheadRow">
        <span class="mastheadCity">St. Louis</span>
        <%= image_tag 'conf_logo_b.svg', :alt => "PWLConf 2016", :title => "Papers We Love Conference 2016", :class => "imgPwlConfLogo" %>
        <span class="mastheadState">Missouri</span>
      </div>

      <div class="mastheadRow bottom">
        <%= image_tag 'corner.svg', :alt => "corner", :class => "cornerBottomLeft" %>
        <div class="mastheadLinks">
          <span class="mastheadDates">September 15, 2016</span>
          <a href="https://ti.to/strange-loop/2016">Register at Strange Loop &rarr;</a>
        </div>
        <%= image_tag 'corner.svg', :alt => "corner", :class => "cornerBottomRight" %>
      </div>
    </div>
  </section>

  <section class="articleSpeakerContent">
    <h2>Conference Speakers</h2>
    <div class="homeSpeakers">
      <%= partial 'partials/claireLeGoues' %>
      <%= partial 'partials/dahliaMalkhi' %>
      <%= partial 'partials/caseyMuratori' %>
    </div>
    <div class="homeSpeakers">
      <%= partial 'partials/justineSherry' %>
      <%= partial 'partials/mariusWatz' %>
      <%= partial 'partials/nobukoYoshida' %>
    </div>
  </section>

  <section class="articleVenueContent">
    <div class="articleVenueRow">
      <iframe title="Map to venue" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3116.8568557794574!2d-90.20978604817624!3d38.629173979512835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b31de5f5865d%3A0xa0a4a4e039774dd1!2sSt.+Louis+Union+Station+-+a+DoubleTree+by+Hilton+Hotel!5e0!3m2!1sen!2sus!4v1469380520055" frameborder="0" style="border:0" allowfullscreen class="venueMap"></iframe>
      <div class="venueInformation">
        <h2>Conference Location</h2>
        <p ><strong>September 15<sup>th</sup>, 2016</strong></p>
        <span>
          <p><a  href="http://doubletree3.hilton.com/en/hotels/missouri/st-louis-union-station-a-doubletree-by-hilton-hotel-STLUSDT/index.html"><span>Union Station Doubletree</span></a></p>
          <p><span>1820 Market St.</span></p>
          <p>
            <span>St. Louis</span>,
            <span>MO</span>
            <span>63103</span>
          </p>
          <p><span>(314) 231-1234</span></p>
        </span>
        <p class="button">
          <a href="https://ti.to/strange-loop/2016">Buy tickets @ Strange Loop</a>
        </p>
      </div>
    </div>
  </section>

  <section class="articleAgendaContent">
    <h2>Conference Agenda</h2>

    <div class="conferenceAgenda">
      <dl>
        <dt>9:00 - 9:10</dt>
        <dd>Opening Notes</dd>

        <dt>9:10 - 10:10</dt>
        <dd class="speaker"><a href="dahlia-malkhi">Dahlia Malkhi</a></dd>

        <dt>10:15 - 11:15</dt>
        <dd class="speaker"><a href="nobuko-yoshida">Nobuko Yoshida</a></dd>

        <dt>11:15 - 12:45</dt>
        <dd>Lunch</dd>

        <dt>12:45 - 1:45</dt>
        <dd class="speaker"><a href="marius-watz">Marius Watz</a></dd>
      </dl>
    </div>

    <div class="conferenceAgenda lastCol">
      <dl class="col2">
        <dt>1:50 - 2:50</dt>
        <dd class="speaker"><a href="/claire-legoues">Claire Le Goues</a></dd>

        <dt>2:55 - 3:25</dt>
        <dd>Snack Break</dd>

        <dt>3:25 - 4:25</dt>
        <dd class="speaker"><a href="justine-sherry">Justine Sherry</a></dd>

        <dt>4:30 - 5:30</dt>
        <dd class="speaker"><a href="casey-muratori">Casey Muratori</a></dd>

        <dt>5:30 - 5:35</dt>
        <dd>Closing Notes</dd>
      </dl>
    </div>

    <div class="agendaFooter">
      <p class="agendaParty"><strong>7:00 - 9:30</strong> Strange Loop Party at the City Museum - 750 N 16th St</p>
    </div>
  </section>

  <section class="articleSponsorContent">
    <div class="articleSponsorRow">
      <span>
        <a href="http://corporate.comcast.com/">
          <%= image_tag 'comcast.png', :alt => "Comcast", :title => "Comcast - a platinum sponsor of PWLConf", :class => 'comcast' %>
        </a>
      </span>
      <span>
        <a href="https://www.twosigma.com">
          <%= image_tag 'TwoSigma_RGB.jpg', :alt => "TwoSigma", :title => "TwoSigma - a platinum sponsor of PWLConf", :class => 'twosigma'  %>
        </a>
      </span>
    </div>
    <div class="photoCaption map">
      Two Sigma and Comcast are Platinum Sponsors of PWLConf 2016</a>
    </div>
  </section>
  <%= partial 'partials/footer' %>
</article>
