---
title: About
og_title: Papers We Love Conference 2016
---
<article id="articleContainer" class="pageHome">
  <section class="articleTagline">
    Join us for a day with some of Papers We Love’s favorite writers and speakers.
  </section>
  <%= partial 'partials/internalTopNav' %>
  <section class="articleMasthead">
    <div class="articleMastheadContent">
      <div class="mastheadRow top">
        <%= image_tag 'corner.svg', :alt => "corner", :class => "cornerTopLeft" %>
        <%= image_tag 'logo-top.svg', :alt => "Papers We Love", :title => "Papers We Love | A community for computer science papers", :class => "imgPwlLogo" %>
        <%= image_tag 'corner.svg', :alt => "corner", :class => "cornerTopRight" %>
      </div>

      <div class="mastheadRow">
        <span class="mastheadCity">St. Louis</span>
        <%= image_tag 'conf_logo_b.svg', :alt => "PWLConf 2016", :title => "Papers We Love Conference 2016", :class => "imgPwlConfLogo" %>
        <span class="mastheadState">Missouri</span>
      </div>

      <div class="mastheadRow bottom">
        <%= image_tag 'corner.svg', :alt => "corner", :class => "cornerBottomLeft" %>
        <div class="mastheadLinks">
          <span class="mastheadDates">September 15, 2016</span>
          <a href="https://ti.to/strange-loop/2016">Register at Strange Loop &rarr;</a>
        </div>
        <%= image_tag 'corner.svg', :alt => "corner", :class => "cornerBottomRight" %>
      </div>
    </div>
  </section>

  <section class="articleSpeakerContent">
    <h2>Our Speakers</h2>
    <div class="homeSpeakers">
      <%= partial 'partials/claireLeGoues' %>
      <%= partial 'partials/dahliaMalkhi' %>
      <%= partial 'partials/justineSherry' %>
    </div>
    <div class="homeSpeakers">
      <%= partial 'partials/nobukoYoshida' %>
    </div>
  </section>

  <section class="articleSponsorContent">
    <%= image_tag 'TwoSigma_RGB.jpg', :alt => "TwoSigma", :title => "TwoSigma - a platinum sponsor of PWLConf", :width => '500px' %>
    <div class="photoCaption map">
      <a href="http://www.twosigma.com/">Two Sigma is a Platinum Sponsor of PWLConf 2016</a>
    </div>
  </section>

  <section class="articleSponsorContent">
    <%= image_tag 'comcast.png', :alt => "Comcast", :title => "Comcast - a platinum sponsor of PWLConf", :width => '360px' %>
    <div class="photoCaption map">
      <a href="http://corporate.comcast.com/">Comcast is a Platinum Sponsor of PWLConf 2016</a>
    </div>
  </section>

  <section class="articleFooterContent">
    <div class="footerRow">
      <div class="footerItem">
        <h2>Web</h2>
        <a href="http://paperswelove.org">paperswelove.org</a>
      </div>
      <div class="footerItem">
        <h2>Twitter</h2>
        <a href="https://twitter.com/papers_we_love">@papers_we_love</a>
      </div>
      <div class="footerItem">
        <h2>Email</h2>
        <a href="mailto:pwlconf@paperswelove.org">pwlconf@paperswelove.org</a>
      </div>
    </div>
  </section>
</article>
