---
title: Home
og_title: Papers We Love Conference 2018
---
<header class="index">
  <nav>
    <div class="g max-width-container">
      <!-- <a href="#"><i class="fas fa-ticket-alt"></i> Buy Tickets!</a> -->
      <a href="/2018/code-of-conduct">Code of Conduct</a>
      <a href="/2018/sponsors">Sponsors</a>
      <a href="/2018/prospectus">Become a Sponsor</a>
    </div>
  </nav>
  <h1>
    <span class="max-width-container">
      <%= image_tag '2018/mobile-header.png', :alt => "Drawing of the Peabody Opera House in St. Louis", :title => "Papers We Love Conference 2018", :class => "mobile-img" %>
      <%= image_tag '2018/header.png', :alt => "Drawing of the Peabody Opera House in St. Louis", :title => "Papers We Love Conference 2018", :class => "desktop-img" %>
    </span>
  </h1>
  <h2>
    September 26, 2018
  </h2>
  <h3>
    Peabody Opera House<br/>
    St. Louis, MO
  </h3>
</header>
<article class="tickets">
  Tickets are now available!
  <button type="button" tabindex="0" aria-label="Purchase Tickets for PWLConf" aria-pressed="false" onclick="handleBtnClick(event)">
    Purchase Tickets
  </button>
</article>
<article class="text indexText">
  <h1>Building bridges between academia and industry</h1>
  <p>Papers We Love Conference is a one day event to cross-pollinate ideas between academic research and industrial practice. We're very excited to be back in St. Louis as part of the <a href="https://thestrangeloop.com/preconf.html">Strangeloop Pre-Conf</a> program for the third year in a row. This year should be pretty exciting as <a href="https://icfp18.sigplan.org/home">ICFP 2018</a> will be co-located in St. Louis as well.</p>

  <p>We're putting together a great program for you and will post updates here as they develop. You can also <a href="https://twitter.com/papers_we_love" title="@papers_we_love">follow us on Twitter</a> or  <a href="http://papersweloveslack.herokuapp.com/" title="Join our Slack">join our Slack</a> to get updates.</p>

  <h2>Speakers</h2>

  <ul class="speakers-grid">
    <li class="col-1">
      <a href="/2018/giulia-fanti">
        <%= image_tag '2018/giulia-fanti-square.jpg', :class => "speaker", :width => "100%", :alt => "Photo of Giulia Fanti", :title => "Giulia Fanti" %>
      </a>
      <h3><a href="/2018/giulia-fanti">Giulia Fanti</a></h3>
      <h4><a href="https://www.cs.cmu.edu/">Carnegie Mellon University</a></h4>
    </li>
    <li class="col-2">
      <a href="/2018/heidy-khlaaf">
        <%= image_tag '2018/heidy-khlaaf-square.jpg', :class => "speaker", :width => "100%", :alt => "Photo of Heidy Khlaaf", :title => "Heidy Khlaaf" %>
      </a>
      <h3><a href="/2018/heidy-khlaaf">Heidy Khlaaf</a></h3>
      <h4><a href="https://www.adelard.com/">Adelard, LLP</a></h4>
    </li>
    <li class="col-1">
      <a href="/2018/frank-pfenning">
        <%= image_tag '2018/frank-pfenning-square.jpg', :class => "speaker", :width => "100%", :alt => "Photo of Frank Pfenning", :title => "Frank Pfenning" %>
      </a>
      <h3><a href="/2018/frank-pfenning">Frank Pfenning</a></h3>
      <h4><a href="https://www.cs.cmu.edu/">Carnegie Mellon University</a></h4>
    </li>
    <li class="col-2">
      <a href="/2018/dan-piponi">
        <%= image_tag '2018/dan-piponi-square.jpg', :class => "speaker", :width => "100%", :alt => "Photo of Dan Piponi", :title => "Dan Piponi" %>
      </a>
      <h3><a href="/2018/dan-piponi">Dan Piponi</a></h3>
      <h4><a href="https://verily.com/">Verily</a></h4>
    </li>
    <li class="col-1">
      <a href="/2018/roopsha-samanta">
        <%= image_tag '2018/roopsha-samanta-square.jpg', :class => "speaker", :width => "100%", :alt => "Photo of Roopsha Samanta", :title => "Roopsha Samanta" %>
      </a>
      <h3><a href="/2018/roopsha-samanta">Roopsha Samanta</a></h3>
      <h4><a href="https://www.cs.purdue.edu/homes/roopsha/">Purdue University</a></h4>
    </li>
    <li class="col-2">
      <a href="/2018/ari-schlesinger">
        <%= image_tag '2018/ari-schlesinger-square.jpg', :class => "speaker", :width => "100%", :alt => "Photo of Ari Schlesinger", :title => "Ari Schlesinger" %>
      </a>
      <h3><a href="/2018/ari-schlesinger">Ari Schlesinger</a></h3>
      <h4><a href="https://www.cc.gatech.edu/academics/degree-programs/phd/human-centered-computing">Georgia Tech</a></h4>
    </li>
  </ul>

  <h2>Previous conferences</h2>
  <p>If you're not familiar with Papers We Love Conf then checkout the videos from our previous events.</p>

  <h2><a href="/2017">2017</a></h2>
  <iframe class="video-embed" src="https://www.youtube.com/embed/videoseries?list=PLGRqfvsPiRShRY94F1p_3TT1HMoipcc3c" frameborder="0" allowfullscreen></iframe>

  <h2><a href="/2016">2016</a></h2>
  <iframe class="video-embed" src="https://www.youtube.com/embed/videoseries?list=PLGRqfvsPiRShwIXMA5P3WR_9LgBOAdvw4" frameborder="0" allowfullscreen></iframe>
</article>
<script>
 function handleBtnClick(event) {
   toggleButton(event.target);
   getOn();
 }

 function handleBtnKeyPress(event) {
   // Check to see if space or enter were pressed
   if (event.key === " " || event.key === "Enter") {
     // Prevent the default action to stop scrolling when space is pressed
     event.preventDefault();
     toggleButton(event.target);
     getOn();
   }
 }

 function toggleButton(element) {
   // Check to see if the button is pressed
   var pressed = (element.getAttribute("aria-pressed") === "true");
   // Change aria-pressed to the opposite state
   element.setAttribute("aria-pressed", !pressed);
 }

 function getOn() {
   window.location.href = "https://ti.to/strange-loop/2018?utm_source=pwlconf&utm_medium=banner&utm_campaign=pwlconf2018";
 }
</script>
