---
title: Home
og_title: Papers We Love Conference 2017
---
<article id="articleContainer" class="pageHome">
  <section class="articleTagline">
    Join us for a day with some of Papers We Love’s favorite writers and speakers.
  </section>
  <%= partial '2017/partials/internalTopNav' %>
  <section class="articleMasthead">
    <div class="articleMastheadContent">
      <div class="mastheadRow top">
        <%= image_tag 'corner.svg', :alt => "corner", :class => "cornerTopLeft" %>
        <%= image_tag 'logo-top.svg', :alt => "Papers We Love", :title => "Papers We Love | A community for computer science papers", :class => "imgPwlLogo" %>
        <%= image_tag 'corner.svg', :alt => "corner", :class => "cornerTopRight" %>
      </div>

      <div class="mastheadRow">
        <span class="mastheadCity">St. Louis</span>
        <%= image_tag 'conf_logo_b.svg', :alt => "PWLConf 2016", :title => "Papers We Love Conference 2016", :class => "imgPwlConfLogo" %>
        <span class="mastheadState">Missouri</span>
      </div>

      <div class="mastheadRow bottom">
        <%= image_tag 'corner.svg', :alt => "corner", :class => "cornerBottomLeft" %>
        <div class="mastheadLinks">
          <span class="mastheadDates">September 28, 2017</span>
        </div>
        <%= image_tag 'corner.svg', :alt => "corner", :class => "cornerBottomRight" %>
      </div>
    </div>
  </section>

  <section class="articleTextContent">
    <h2>PWLConf 2017</h2>
    <h1>We're ready for 2017!</h1>
    <p>Magnam explicabo rerum voluptas provident maxime harum. Et natus consequatur veniam eligendi sed eveniet. Architecto consequuntur aliquid soluta nihil nihil voluptatem nemo. Enim optio aut eos quas autem.</p>
    <p>Quis esse corporis et molestias. Culpa nemo explicabo quis quae pariatur. Et reprehenderit modi aut est ut illum. Porro accusantium voluptatem earum officiis alias et. Doloribus eveniet fugiat et.</p>
  </section>


  <section class="articleVenueContent">
    <div class="articleVenueRow">
      <iframe title="Map to venue" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3116.8568557794574!2d-90.20978604817624!3d38.629173979512835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b31de5f5865d%3A0xa0a4a4e039774dd1!2sSt.+Louis+Union+Station+-+a+DoubleTree+by+Hilton+Hotel!5e0!3m2!1sen!2sus!4v1469380520055" frameborder="0" style="border:0" allowfullscreen class="venueMap"></iframe>
      <div class="venueInformation">
        <h2>Conference Location</h2>
        <p ><strong>September 28<sup>th</sup>, 2017</strong></p>
        <span>
          <p><a  href="http://doubletree3.hilton.com/en/hotels/missouri/st-louis-union-station-a-doubletree-by-hilton-hotel-STLUSDT/index.html"><span>Union Station Doubletree</span></a></p>
          <p><span>1820 Market St.</span></p>
          <p>
            <span>St. Louis</span>,
            <span>MO</span>
            <span>63103</span>
          </p>
          <p><span>(314) 231-1234</span></p>
        </span>
        <p class="button">
          <!-- link to SL -->
        </p>
      </div>
    </div>
  </section>

  <section class="articleAgendaContent">
      <h2>PWLConf 2016 Videos</h2>
  </section>

  <section class="articleVideoContent">
    <iframe src="https://www.youtube.com/embed/videoseries?list=PLGRqfvsPiRShwIXMA5P3WR_9LgBOAdvw4" frameborder="0" allowfullscreen></iframe>
  </section>


  <%= partial '2017/partials/footer' %>
</article>
