---
title: Sponsors
og_title: Sponsors | Papers We Love Conference 2016
---
<article id="articleContainer">
  <section class="articleTagline">
    Join us for a day with some of Papers We Love’s favorite writers and speakers.
  </section>

  <%= partial 'partials/internalTopNav' %>

  <section class="articleTextContent">
    <p><strong>Papers We Love Conference 2016</strong> couldn't exist without the help of our sponsors below.</p>
    <p>Sponsorships are still availalable (<a href="http://pwlconf.org/assets/pwlconf_prospectus_2016.pdf" alt="PWLConf Sponsorship Prospectus (PDF)">more information</a>) if you or your comapny would like to get involved with Papers We Love.</p>
  </section>

  <section class="articleSponsorEntryContent">
    <h2>Platinum Sponsors</h2>
    <a href="http://corporate.comcast.com/" class="platinum">
      <%= image_tag 'comcast.png', :alt => "Comcast Logo", :title => "Comcast Logo", :class => "imgSponsor platinumSponsor comcast" %>
    </a>
    <p class="platinum">Comcast Cable is one of the nation's largest video, high-speed Internet and phone providers to residential customers under the XFINITY brand and also provides these services to businesses. Comcast has invested in technology to build an advanced network that delivers among the fastest broadband speeds, and brings customers personalized video, communications and home management offerings.  Comcast Corporation (Nasdaq: <a href="http://www.nasdaq.com/symbol/cmcsa">CMCSA</a>) is a global media and technology company. Visit <a href="http://www.comcastcorporation.com">www.comcastcorporation.com</a> for more information.</p>
    <a href="http://www.twosigma.com/" class="platinum">
      <%= image_tag 'TwoSigma_RGB.jpg', :alt => "Two Sigma Logo", :title => "Two Sigma Logo", :class => "imgSponsor platinumSponsor" %>
    </a>
    <p class="platinum">We are a technology company that applies a rigorous, scientific method-based approach to investment management. Since our founding in 2001, Two Sigma’s vision has been to develop technological innovations that intelligently analyze the world’s data to consistently deliver value for our clients. We are looking for talented individuals who like to solve hard problems – people who love intellectual challenges, thrive in a collaborative environment, and want to see what they do make a difference. Start a conversation. Please contact <a href="mailto:Recruiting@twosigma.com" alt="Email Recruiting@twosigma.com">Recruiting@twosigma.com</a>.</p>
  </section>

  <section class="articleSponsorEntryContent">
    <h2>Gold Sponsors</h2>
    <div class="gold">
      <a href="http://engineering.cerner.com/" class="gold">
        <%= image_tag 'Cerner-Corporation-logo.jpg', :alt => "Cerner Logo", :title => "Cerner Logo", :class => "imgSponsor gold" %>
      </a>
      <p class="gold">
        At <a href="http://engineering.cerner.com/">Cerner</a>, we love solving the hard problems that no one else wants to tackle. We embrace polyglot programming, distributed systems, and open source. We also know that it’s important to allow engineers to take a step back and try new things. That’s why we host periodic hackathons, meetups, tech talks, and an annual internal two-day developers conference in addition to attending, sponsoring, and speaking at industry conferences.
      </p>
    </div>
  </section>

  <section class="articleSponsorEntryContent">
    <h2>Silver Sponsors</h2>
    <div class="silver">
      <div>
        <a href="http://www.acm.org/" class="silver">
          <%= image_tag 'acm.png', :alt => "ACM Logo", :title => "ACM Logo", :class => "imgSponsor silver" %>
        </a>
        <p class="silver"><a href="http://www.acm.org/">ACM, the Association for Computing Machinery</a>, is the world's largest educational and scientific computing society, uniting educators, researchers and professionals to inspire dialogue, share resources and address the field's challenges. ACM strengthens the computing profession's collective voice through strong leadership, promotion of the highest standards, and recognition of technical excellence. ACM supports the professional growth of its members by providing opportunities for life-long learning, career development, and professional networking.</p>
      </div>
      <div>
        <a href="https://www.simple.com/careers" class="silver">
          <%= image_tag 'simple-logo.svg', :alt => "Simple Logo", :title => "Simple Logo", :class => "imgSponsor silver simple" %>
        </a>
        <p class="silver">At Simple, doing right by our customers is the heart of our business. Simple customers receive a Simple Visa® debit card that's tied to an FDIC-insured account. This account offers no surprise fees, and provides powerful budgeting and savings tools right in our mobile and online apps. We are headquartered in Portland, OR and support a large group of remote engineers across the US.</p>
        <p class="silver">Interested in building the future of personal banking with a group of kind, funny, smart people who love music, food, design, coffee, and code, Simple is the place for you.</p>
      </div>
    </div>
    <div class="silver">
      <div>
        <a href="http://www.basho.com/" class="silver">
          <%= image_tag 'basho.png', :alt => "Basho Logo", :title => "Basho Logo", :class => "imgSponsor silver" %>
        </a>
        <p class="silver"><a href="http://www.basho.com/">Basho</a></p>
      </div>
      <div></div>
    </div>
  </section>

  <section class="articleSponsorEntryContent">
    <h2>Bronze Sponsors</h2>
    <div class="bronzeSponsorLogos">
      <a href="http://hashicorp.com" class="bronze">
        <%= image_tag 'hashicorp.png', :alt => "Hashicorp", :title => "Hashicorp", :class => "imgSponsor bronze hashicorp" %>
      </a>
    </div>
  </section>

  <section class="articleSponsorEntryContent">
    <div>
      <h2>Lanyard Sponsor</h2>
      <div class="additionalSponsorLogos">
        <a href="http://binaryaffairs.io/">
          <%= image_tag 'binary-affairs.svg', :alt => "Dept. of Binary Affairs Logo", :title => "Dept. of Binary Affairs Logo", :class => "imgSponsor additionalSponsor binary" %>
        </a>
      </div>
    </div>
  </section>

  <section class="articleSponsorEntryContent">
    <div>
      <h2>Additional Sponsors</h2>
      <div class="additionalSponsorLogos">
        <p>Meetup</p>
      </div>
    </div>
  </section>

  <section class="articleFooterContent">
    <div class="footerRow">
      <div class="footerItem">
        <h2>Web</h2>
        <a href="http://paperswelove.org">paperswelove.org</a>
      </div>
      <div class="footerItem">
        <h2>Twitter</h2>
        <a href="https://twitter.com/papers_we_love">@papers_we_love</a>
      </div>
      <div class="footerItem">
        <h2>Email</h2>
        <a href="mailto:contact@paperswelove.org">contact@paperswelove.org</a>
      </div>
    </div>
  </section>
</article>
